form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.5rem;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:focus {
  outline: none;
}

button[type="submit"] .fa {
  margin-right: 0.5rem;
}

.alert {
  background-color: #ff8080;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
