.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 55%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.card button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1b2430;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #23303e;
}

@media screen and (max-width: 769px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0px 6px 6px rgba(0, 0, 0, 0.23);
  }
}
